.exer-container{
    .head-section{
        width: 500px;
        position: relative;
        background: transparent;
        margin-left: 9rem;
       
        img{
          float: left;
          width: 50px; 
          background: transparent;
        }
        h2{
          background: transparent;
        }
        p{
      background: transparent;
      margin-bottom: 2rem;
      margin-left: 4rem;
      text-align: justify;
        }
       }
}
.exercise-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 9rem;
    margin-right: 9rem;
    gap:10px;
    .box-1{
        position: relative;
        display: inline-block;
        img{
            width:100%;
            display: inline-block;
            height: 50vh;
            border-bottom:5px solid $underline-color;
        }
        .text{
            position: absolute;
            z-index: 999;
            bottom: 5%;
            left:10px;
            background-color: transparent;
            h3{
              background: transparent;
              
            }


        }
    }
}
.exercise-container-two{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 9rem;
    margin-right: 9rem;
    margin-bottom: 5rem;
    gap:10px;
    margin-top: 1rem;
    .box-1{
        position: relative;
        display: inline-block;
        img{
            width:100%;
            height: 50vh;
            border-bottom:5px solid $underline-color;
        }
        .text{
            position: absolute;
            z-index: 999;
            bottom:5%;
            left:10px;
            background-color: transparent;
            h3{
              background: transparent;
            }


        }
    }
}
