.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin:0 10rem;
    font-weight: 400;
    div{
           
        img{
            width: 50px;
        }
       h4{
        margin-bottom: 2rem;
        font-family: "poppins";
        font-weight: 400;
        text-align: center;
    }
    p{
        font-family: "poppins";
        font-weight: 400;
    }
        ul{ 
            text-align: center;
        
            li{
                font-size: 22px;
                font-family: "poppins";
                line-height: 1.8rem;
               
            }
        }
       
      
    }
   
}
.line{
    border-top: 2px solid $footer-color;
    margin:2rem 8rem;
    p{
        font-size: 18px;
        color: $footer-color;
    }
}