$font-color: #ffffff;
$background-color: #08022D;
$underline-color: #FFD600;
$footer-color:  #9E9DA6;
$box-color: #3D20EF;
$font-family: 'Poppins', sans-serif;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border:0;
    color: $font-color;
    background-color: $background-color;
}
@mixin box{
   padding: 12px 36px;
   border: none;
   border-radius: 5px;
   text-align: center;
}

h1,h2,h3,h4,button {
    font-family: $font-family;
    font-weight: 600;
    color: $font-color;
}
h1{
    font-size: 70px;
 text-align: center;
 font-weight: 600;
 font-family: $font-family;
 margin-bottom: 3rem;

}
h2{
    font-size: 48px;
}
h3{
    font-size: 38px;
}
h4{
    font-size: 20px;
  
}
p{
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
}
button{
    font-size: 18px;   
    background-color: $box-color;
 @include box()

}
ul {
    list-style: none;
}

.heading-section{
    margin-left: 9rem;
    width: 500px;
    padding-bottom: 20px;
    background-color: transparent;
 
    div{
        display: flex;
        h2{
    font-family: $font-family;
    font-family: 400;
    background-color: transparent;
    
        }
    }
   
    p{
        background-color: transparent;
    }
}
.head-section{
    width: 800px;
    position: relative;
    img{
      float: left;
      width: 50px; 
      margin-right: 20px;
    }
    
  }