@import "./global";

main{

    .header-img{
       height: 50vh;
       width: 80vw;
       padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }
  .container{
   display: flex;
    margin:0  11rem;
    margin-top: 8rem;
    .child-1{
      
        margin-right: 15rem;
        p{
            padding-bottom: 2rem;
        }
      
    }
    .child-2{
  .child-img{
    width: 400px;
    height: 500px;
  }
  &-container{
    width: 300px;
    height: 350px;
    background-color: $box-color;
    color: $font-color;
    font-size: 48px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    align-items: center;
    display: block;
    top: -5rem;
    line-height: 1.5em;
    padding-top: 55px;
    transform: translate(-8vw, -7vw);
  }
    }
  }
    .exercise-container{
        display: flex;
        margin:0 11rem;
        grid-template-columns: 1fr 1fr;
        gap:20px;
        position:relative;

        img{
            width: 770px;
            height: 500px;
        }
        h3{
                position: absolute;
                bottom: 8px;
                left: 16px;
                background-color: transparent;
                
        }
      &-second-row{
        display: flex;
        margin:2rem 11rem;
        grid-template-columns: 1fr 1fr 1fr;
        gap:20px;
        position:relative;
        img{
            width: 510px;
            height: 500px;
        } 
         .first-line{
        position:absolute;
        bottom: 3px;
        left: 16px;
        background-color: transparent;
            }
            .second-line{
                position: absolute;
                top: 5px;
                right: 15px;
                background-color: transparent;
            }
            .third-line{
                position:absolute;
                bottom:8px;
                right: 16px;
                background-color: transparent;
            }
      
      }
       
    }
    .clasees-section{
       width: 100%;
       height: 100%;
     background-image: url("../Option2-assets/image7.jpg");
     padding: 20px;
    .head-section{
        h2{
            background-color: transparent;
        }
        p{
            background-color: transparent;
        }
        background-color: transparent;
    }
    form {
    margin:7rem;
    background-color: transparent;
    lable{
        font-size: 18px;
    };
  
    input[type=text]{
        background-color: $font-color;
        width: 17%;
        padding: 12px 20px;
        // margin: 10px 0;
        color:black;
        margin: 1rem;
        font-size: 18px;
        box-sizing: border-box;
        outline: none;
    }
    input[type=email]{
        background-color: $font-color;
        width: 35%;
        margin: 1rem;
        padding: 12px 20px;
        // margin: 10px 0;
        color:black;
        font-size: 18px;
        box-sizing: border-box;
        outline: none; 
    
    }
    textarea{
        width: 60%;
        height: 250px;
        background-color: $font-color;
        margin:2rem;
    }

}
    }
    .join-section{
  
        margin: 7rem;
      .intro-section {
        margin: 20px;
        .vl {
            border-left: 6px solid $underline-color;
            height: 300px;
            padding: 50px;
       
            .intro-p {
                width: 700px;
            }
            .card{
                display: flex;
                align-items: center;
                margin: 20px;
                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
                div{
              padding-left: 20px;
                }
               
            }
        }
       .boy-exer {
        margin-top: 50px;
            width: 80vw;
            display: block;
            height: 50vh;
          
           }  
      }
       
    }
}