nav{
    margin: 0;
    overflow: hidden;
    ul{
        li{
            a{
                float: right;
                text-align: center;
                text-decoration: none;
                padding: 20px;
                font-size: 18px;
                font-family: $font-family;
                cursor: pointer;

            }
            .logo{
                float: left;
              font-size: 28px;
              font-weight: 600;
              cursor: pointer;
            }
        }
    }
}