nav{
    margin: 0 auto;
    padding-top: 1rem;
    ul{
    display: flex;
flex-direction: row;
justify-content: flex-end;
width: 100%;
.logo{
    margin:0;
    font-size: 22px;
    
}
li{
    margin: 1 rem; 
    display: block;
   
    a{
     font-size: 18px;
     padding: 1rem 2vw;
     font-weight: bold;
     &:hover{
        transition: .3s color, .3s transform;
     }
    }
}
    }

}