* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: #ffffff;
  background-color: #08022D;
}

h1, h2, h3, h4, button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

h1 {
  font-size: 70px;
  text-align: center;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 20px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

button {
  font-size: 18px;
  background-color: #3D20EF;
  padding: 12px 36px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

ul {
  list-style: none;
}

.heading-section {
  margin-left: 9rem;
  width: 500px;
  padding-bottom: 20px;
  background-color: transparent;
}
.heading-section h2 {
  font-family: "Poppins", sans-serif;
  font-family: 400;
  background-color: transparent;
}
.heading-section h2 b {
  color: #FFD600;
}
.heading-section p {
  background-color: transparent;
}

nav {
  margin: 0;
  overflow: hidden;
}
nav ul li a {
  float: right;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
nav ul li .logo {
  float: left;
  font-size: 28px;
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0 10rem;
  font-weight: 400;
}
.grid-container div img {
  width: 50px;
}
.grid-container div h4 {
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.grid-container div p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.grid-container div ul li {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  line-height: 1.8rem;
}

.line {
  border-top: 2px solid #9E9DA6;
  margin: 3rem 10rem;
}
.line p {
  font-size: 18px;
  color: #9E9DA6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: #ffffff;
  background-color: #08022D;
}

h1, h2, h3, h4, button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #ffffff;
}

h1 {
  font-size: 70px;
  text-align: center;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 20px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

button {
  font-size: 18px;
  background-color: #3D20EF;
  padding: 12px 36px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

ul {
  list-style: none;
}

.heading-section {
  margin-left: 9rem;
  width: 500px;
  padding-bottom: 20px;
  background-color: transparent;
}
.heading-section h2 {
  font-family: "Poppins", sans-serif;
  font-family: 400;
  background-color: transparent;
}
.heading-section h2 b {
  color: #FFD600;
}
.heading-section p {
  background-color: transparent;
}

main {
  margin: 2rem;
}
main .header-img {
  height: 50vh;
  width: 80vw;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
main .container {
  display: flex;
  margin: 0 11rem;
  margin-top: 8rem;
}
main .container .child-1 {
  margin-right: 15rem;
}
main .container .child-1 h2 b {
  color: #FFD600;
}
main .container .child-1 p {
  padding-bottom: 2rem;
}
main .container .child-2 .child-img {
  width: 400px;
  height: 500px;
}
main .container .child-2-container {
  width: 300px;
  height: 350px;
  background-color: #3D20EF;
  color: #ffffff;
  font-size: 48px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  align-items: center;
  display: block;
  top: -5rem;
  line-height: 1.5em;
  padding-top: 55px;
  transform: translate(-8vw, -7vw);
}
main .clasees-section {
  width: 100%;
  height: 100%;
  background-image: url("../Option2-assets/image7.jpg");
  padding: 20px;
}
main .clasees-section .head-section {
  background-color: transparent;
}
main .clasees-section .head-section h2 {
  background-color: transparent;
}
main .clasees-section .head-section p {
  background-color: transparent;
}
main .clasees-section form {
  margin-left: 9rem;
  background: transparent;
}
main .clasees-section form label {
  display: block;
  margin-bottom: 8px;
  background: transparent;
}
main .clasees-section form input[type=text], main .clasees-section form input[type=email] {
  border: none;
  font-size: 18px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 50%;
  background-color: #e8eeef;
  color: #08022D;
  margin-bottom: 30px;
}
main .clasees-section form textarea {
  border: none;
  font-size: 18px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 30%;
  background-color: #e8eeef;
  color: #08022D;
  margin-bottom: 30px;
}
main .join-section {
  margin: 7rem;
  background-color: transparent;
}
main .join-section h2 {
  font-weight: 400;
}
main .join-section h2 b {
  color: #FFD600;
}
main .join-section .intro-section {
  margin: 20px;
}
main .join-section .intro-section .vl {
  border-left: 6px solid #FFD600;
  height: 300px;
  padding: 50px;
}
main .join-section .intro-section .vl .intro-p {
  width: 700px;
}
main .join-section .intro-section .vl .card {
  display: flex;
  align-items: center;
  margin: 20px;
}
main .join-section .intro-section .vl .card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
main .join-section .intro-section .vl .card div {
  padding-left: 20px;
}
main .join-section .intro-section .boy-exer {
  margin-top: 50px;
  width: 80vw;
  display: block;
  height: 50vh;
}

.exercise-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 9rem;
  margin-right: 9rem;
  gap: 10px;
}
.exercise-container .box-1 {
  position: relative;
  display: inline-block;
}
.exercise-container .box-1 img {
  width: 100%;
  display: inline-block;
  height: 50vh;
  border-bottom: 5px solid #FFD600;
}
.exercise-container .box-1 .text {
  position: absolute;
  z-index: 999;
  bottom: 5%;
  left: 10px;
  background-color: transparent;
}
.exercise-container .box-1 .text h3 {
  background: transparent;
}

.exercise-container-two {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 9rem;
  margin-right: 9rem;
  margin-bottom: 5rem;
  gap: 10px;
  margin-top: 1rem;
}
.exercise-container-two .box-1 {
  position: relative;
  display: inline-block;
}
.exercise-container-two .box-1 img {
  width: 100%;
  height: 50vh;
  border-bottom: 5px solid #FFD600;
}
.exercise-container-two .box-1 .text {
  position: absolute;
  z-index: 999;
  bottom: 5%;
  left: 10px;
  background-color: transparent;
}
.exercise-container-two .box-1 .text h3 {
  background: transparent;
}/*# sourceMappingURL=styles.css.map */